<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sevanje - Statistika</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <h2>Statistika</h2>


        <!-- Jernej Tipke -->
        <div id="top-departments-control">
            <label for="top-n">Vsota sevanja - oddelki:</label>
            <input id="top-n" type="number" min="1" value="5" placeholder="Število zaposlenih" />
            <button id="button2" onclick="fetchTopDepartments()">Prikaži</button>

            <!-- Jernej -->
            <!-- Dinamični črni diagram za prikaz spremembe radiacije podjetij skozi čas-->
            <fieldset>
                <legend>Filter Podjetij:</legend>
                <select id="company_filter" onclick="fetchUniqueCompanies()">
                    <option value="" disabled selected>Izberite podjetje</option>
                </select>
                <!-- <button id="button7" onclick="fetchAndDrawCompanyData()">Radiacija podjetij</button> -->
            </fieldset>
        </div>

        <!-- Leon -->
        <div>
            <fieldset>
                <legend>Filter delovnih mest:</legend>
                <select id="workplaceFilter" onclick="fetchUniqueWorkplaces()"></select>
                <button id="button3" onclick="fetchExposure()">Oseb</button>
                <button id="button4" onclick="fetchCompanyTrends()">Podjetij</button>
            </fieldset>
        </div>

        <!--Prikaz Žanovih Gumbov-->
        <button id="button5" >Žan 1</button>
        <button id="button6" >Žan 2</button>

    </div>

    <!-- Main Content -->
    <div class="main-container">
        <div class="content"  width="1500" height="1500">
            <h1>Sevanje - Statistika</h1>
            <p id="loading-text" class="loading">Izberite vizualizacijo</p>
            <svg id="visualization"></svg>
        </div>
    </div>

    

    <!-- Leon -->
    <script src="/static/leon/exposurePersonGraph.js">  </script>
    <script src="/static/leon/uniqueWorkplaces.js">     </script>
    <script src="/static/leon/companyTrends.js">        </script>
    <script src="/static/leon/getWorkplaceFilter.js">   </script>

    <!-- Jernej -->
    <!-- JavaScript -->
    <script src="/static/test.js">           </script>
    <script src="/static/topFive.js">        </script>
    <script src="/static/topDepartments.js"> </script>

    <!-- Jernej -->
    <!-- Za radiacijo podjetij skozi čas -->
    <script src="/static/uniqueCompanyNames.js">                                </script>
    <script src="/static/radiacija_podjetij_skozi_cas_Connected_Scatterplot.js"></script>
    <script src="/static/radiacijaPodjetjaSkoziCas.js">                         </script>

</body>
</html>
