<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sevanje - Statistika</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <h2>Statistika</h2>


        <!-- Jernej Tipke -->
        <div id="top-departments-control">
            <label for="top-n">Vsota sevanja - oddelki:</label>
            <input id="top-n" type="number" min="1" value="5" placeholder="Število zaposlenih" />
            <button id="button2" onclick="fetchTopDepartments()">Prikaži</button>

            <!-- Dinamični črni diagram za prikaz spremembe radiacije podjetij skozi čas-->
            <fieldset>
                <legend>Filter Podjetij:</legend>
                <select id="company_filter" onclick="fetchUniqueCompanies()">
                    <option value="" disabled selected>Izberite podjetje</option>
                </select>
                <!-- <button id="button7" onclick="fetchAndDrawCompanyData()">Radiacija podjetij</button> -->
            </fieldset>
        </div>
        <!--Prikaz Leonovih Gumbov-->
        <div>
            <fieldset>
                <legend>Filter delovnih mest:</legend>
                <select id="workplaceFilter" onclick="fetchUniqueWorkplaces()"></select>
                    <!-- <option value="" disabled selected>Izberite delovno mesto</option> -->
                
                <button id="button3" onclick="fetchExposure()">Oseb</button>
                <button id="button4" onclick="fetchCompanyTrends()">Podjetij</button>
            </fieldset>
        </div>

         <div>
            <fieldset>
                <legend>Pregled plač nekaterih poklicev</legend>
                <p>Izberite poklic in preglejte plače:</p>
                <select id="workplace" onchange="ShowSalaries()">
                    <option value="" disabled selected>Zdravstveni poklici</option>
                    <option value="Zobozdravniki/zobozdravnice">Zobozdravniki/zobozdravnice</option>
                    <option value="Zobozdravstveni asistenti">Zobozdravstveni asistenti</option>
                    <option value="Laboratorijski tehniki/laboratorijske tehnice v biomedicini, biologiji, farmakologiji">Laboratorijski tehniki (biomedicina, biologija, farmakologija)</option>
                    <option value="Laboratorijski tehniki/laboratorijske tehnice v zdravstvu in patologiji">Laboratorijski tehniki (zdravstvo, patologija)</option>
                    <option value="Veterinarji/veterinarke">Veterinarji/veterinarke</option>
                    <option value="" disabled selected>Rudarski poklici</option>
                    <option value="Rudarski nadzorniki/rudarske nadzornice">Rudarski nadzorniki/rudarske nadzornice</option>
                    <option value="Tehniki/tehnice za rudarstvo, metalurgijo">Tehniki za rudarstvo, metalurgijo</option>
                    <option value="Inženirji/inženirke rudarstva, metalurgije">Inženirji rudarstva, metalurgije</option>
                    <option value="Delavci/delavke za preprosta rudarska in kamnolomska dela">Delavci za rudarska dela</option>
                    <option value="Nadzorniki/nadzornice v rudarstvu, predelovalnih dejavnostih in gradbeništvu">Nadzorniki v rudarstvu, gradbeništvu</option>
                </select>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend><span style="font-weight: bold;">ZANIMIVOST - podatki o radiologih</span></legend>
                <p>Izberite kaj vas zanima: </p>
                 <select id="radiologi" onchange="RadioloskePlace()">
                    <option value="0">Število redno zaposlenih radiologov v bolnicah</option>
                    <option value="1">Skupno bruto izplačilo v bolnicah za radiologe</option>
                    <option value="2">Povprečni znesek v bolnicah za radiologe</option>
                    <option value="3">Število zunanjih radiologov</option>
                    <option value="4">Skupno bruto izplačilo za zunanje radiologe</option>
                    <option value="5">Povprečni znesek za zunanje radiologe</option>
                    <option value="6">Najvišje izplačilo za zunanje radiologe</option>
                </select>
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend><span style="font-weight: bold;">ZANIMIVOSTI o sevanju v Sloveniji</span></legend>
                <p>Preberite si izjemno zanimive podatke o sevanju v Sloveniji.</p>
                <button id="button4" onclick="ZeloZanimivo()">Poglej zanimivosti</button>
                <p style="margin-top: 20px;">Želite izvedeti resnično osupljivo informacijo glede sevanja?</p>
                <button id="button4" onclick="ReaktorRadiologi()">Izvedi zdaj!</button>
            </fieldset>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-container">
        <div class="content">
            <h1>Sevanje - Statistika</h1>
            <p id="loading-text" class="loading">Izberite vizualizacijo</p>
            <svg id="visualization" width="10000" height="5000"></svg>
        </div>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="/static/test.js"></script>
    <script type="text/javascript" src="/static/topFive.js"></script>
    <script type="text/javascript" src="/static/topDepartments.js"></script>

    <script type="text/javascript" src="/static/leon/exposurePersonGraph.js"></script>
    <script src="/static/leon/uniqueWorkplaces.js"></script>
    <script src="/static/leon/companyTrends.js"></script>
    <script src="/static/leon/getWorkplaceFilter.js"></script>

    <!-- Za radiacijo podjetij skozi čas -->
    <script type ="text/javascript" src="/static/uniqueCompanyNames.js"></script>
    <script type ="text/javascript" src="/static/radiacija_podjetij_skozi_cas_Connected_Scatterplot.js"></script>
    <script type ="text/javascript" src="/static/radiacijaPodjetjaSkoziCas.js"></script>

    <script type ="text/javascript" src="/static/PrikazPlac.js"></script>
    <script type ="text/javascript" src="/static/RadiologiPlacePoSloveniji.js"></script>
    <script type ="text/javascript" src="/static/Zanimivosti.js"></script>
    <script type ="text/javascript" src="/static/RadZanimivost.js"></script>
</body>
</html>
