<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sevanje - Statistika</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <h2>Statistika</h2>


        <!-- Jernej Tipke -->
        <div id="top-departments-control">
            <label for="top-n">Vsota sevanja - oddelki:</label>
            <input id="top-n" type="number" min="1" value="5" placeholder="Število zaposlenih" />
            <button id="button2" onclick="fetchTopDepartments()">Prikaži</button>

            <!-- Dinamični črni diagram za prikaz spremembe radiacije podjetij skozi čas-->
            <fieldset>
                <legend>Filter Podjetij:</legend>
                <select id="company_filter" onclick="fetchUniqueCompanies()">
                    <option value="" disabled selected>Izberite podjetje</option>
                </select>
                <button id="button7" onclick="fetchAndDrawCompanyData()">Radiacija podjetij</button>
            </fieldset>
        </div>
        <!--Prikaz Leonovih Gumbov-->
        <div>
            <fieldset>
                <legend>Filter delovnih mest:</legend>
                <select id="workplaceFilter" onclick="fetchUniqueWorkplaces()">
                    <option value="" disabled selected>Izberite delovno mesto</option>
                </select>
                <button id="button3" onclick="fetchExposure()">Oseb</button>
                <button id="button4" onclick="fetchCompanyTrends()">Podjetij</button>
            </fieldset>
        </div>

        <!--Prikaz Žanovih Gumbov-->
        <button id="button5" >Žan 1</button>
        <button id="button6" >Žan 2</button>
    </div>

    <!-- Main Content -->
    <div class="main-container">
        <div class="content">
            <h1>Sevanje - Statistika</h1>
            <p id="loading-text" class="loading">Izberite vizualizacijo</p>
            <svg id="visualization" width="10000" height="5000"></svg>
        </div>
    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="/static/test.js"></script>
    <script type="text/javascript" src="/static/topFive.js"></script>
    <script type="text/javascript" src="/static/topDepartments.js"></script>
    <!--
    ZAKOMENTIRAL SEM NEKATERE KER JAVLJA ERROJE IN MI NE DELA, VSAJ MENI
    <script type="text/javascript" src="/static/selectDepartment.js"></script>
    <script type="text/javascript" src="/static/dept_over_time.js"></script>
    <script type="text/javascript" src="/static/distribution.js"></script>
     -->
    <script type="text/javascript" src="/static/exposurePersonGraph.js"></script>
    <script src="/static/uniqueWorkplaces.js"></script>
    <script src="/static/companyTrends.js"></script>
    <script src="/static/getWorkplaceFilter.js"></script>

    <!-- Za radiacijo podjetij skozi čas -->
    <script type ="text/javascript" src="/static/uniqueCompanyNames.js"></script>
    <script type ="text/javascript" src="/static/radiacija_podjetij_skozi_cas_Connected_Scatterplot.js"></script>
    <script type ="text/javascript" src="/static/radiacijaPodjetjaSkoziCas.js"></script>





</body>
</html>
